.headline-align-left {
  margin-left: 10%;
}

.text-color {
  color: #99DDDD;
}

.body-align-left {
  margin-left: 5%;
}

#header-underline {
  border: 3px solid #99dddd;
  width: 80%;
}

#event-underline {
  clear: both;
  border: 3px solid #99DDDD;
  max-width: 95%;
}

body {
  background-color: #283339;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

#undo-link {
  color: #99DDDD;
  text-decoration: none;
}

#login-button {
  background-color: #63696c;
  color: #99DDDD;
  border:none;
  max-width: 125%;
}
#login-button:hover{
  background-color :#292b2c;
}

.button-std{
  background-color: #63696c;
  color: #99DDDD;
  border:none;
}

.button:hover{
  background-color: #292b2c;
}

#swap-button-active {
  background-color: #292b2c;
  color: #99DDDD;
  border: none;
}

#swap-button-inactive {
  background-color: #63696c;
  color: #99DDDD;
  border: none;
}

#swap-button-inactive:hover{
  background-color: #292b2c;
}


.center-aligned {
  margin-left: 40%;
}

input.margin-top{
  margin-top: 2%;
}

button.margin-top{
  margin-top: 4%;
}

.aligned-items{
  align-content: center;
}

#text-color{
  color: #99DDDD;
}

#comment-text{
  color: #99DDDD;
  opacity: 50%;
}
#test-border{
  border: 6px solid red;
}

#footer{
  position: sticky;
  width: 100%;
  bottom: 0;
  background-color: #63696c;
  color: #63696c;
}

#pad-top-10{
  margin-top: 10%;
}

#pad-top-1{
  margin-top: 1%
}

#pad-top-2{
  margin-top: 2%;
}